@charset "utf-8";


    body{

      
        background-image: url(al.png);

      

    }
    body



    main{


        background-color: white;
        width: 900px;
        height: 4000;
        padding: 20px;
        margin: auto;
       border-radius: 10px;



    }


    h1{ 
        background-color: green;
        color: white;
        
    }

    p{
        
        color: black;
       font-family: Arial, Helvetica, sans-serif;
      text-align: justify;
      
    }
    h2{
        color: brown;

    }

    h3{
        color: rgb(16, 140, 255);
    }
h5{

    color: rgb(30, 209, 30);
}