@charset "utf-8";
*{
    font-family:Arial, Helvetica, sans-serif
}
body{
  background-color: pink;
}
main{
background-color: white;
width: 900px;
padding: 10px;
margin: auto;
border-radius: 20px;

}
h1{
  background-color: white;
  color:rgb(128, 73, 82);

  text-align: center;
  
}

h2{
  background-color:white;
  color: rgb(128, 73, 82);
  text-align: center;
}
p{
  text-align:justify;
  font-size: larger;

}
 video{
  width: 750px;
  margin: auto;
  

}
h5{
  text-align: center;
  
}

  